<h1>this is product page</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#modelId">
  Thêm sản phẩm
</button>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                              </button>
                  </div>
                  <div class="modal-body">
                        <form action="/admin/create_product" method="post" enctype="multipart/form-data">
                              <div class="form-group">
                                <label for="">Loại sản phẩm</label>
                                <select class="form-control" name="category" id="">
                                    <% categories.forEach(function(category){%>
                                          <option value="<%= category.id%>"><%= category.category_name %></option>
                                    <%  }) %>
                                </select>
                              </div>
                              <div class="form-group">
                                <label for="">Tên sản phẩm</label>
                                <input type="text" class="form-control" name="pr_name" id="" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                              </div>
                              <div class="form-group">
                                <label for="">Số lượng</label>
                                <input type="number" class="form-control" name="amount" id="" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                              </div>
                              <div class="form-group">
                                <label for="">Đơn giá</label>
                                <input type="number" class="form-control" name="price" id="" aria-describedby="helpId" placeholder="">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                              </div>
                              <div class="custom-file mt-3 mb-3">
                                    <label for="">Hình ảnh</label>
                                    <input type="file" class="custom-file-input" name="image" id="customFile">
                                    <label class="custom-file-label" for="customFile">Custom file upload</label>
                              </div>
                              <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
                        </form>
                  </div>
                  <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                  </div>
            </div>
      </div>
</div>
<table class="table table-striped">
      <thead>
            <tr>
                  <th>id</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>
                  <th>link</th>
                  <th>Hành động</th>
            </tr>
      <tbody>
            <% products.forEach(function(product){%>
                  <tr>
                        <td scope="row">
                              <%= product.id %>
                        </td>
                        <td>
                              <%= product.pr_name %>
                        </td>
                        <td>
                              <%= product.price %>
                        </td>
                        <td>
                              <%= product.amount %>
                        </td>
                        <td>
                              <%= product.image %>
                        </td>
                        <td>
                              <a href="/admin/edit/<%= product.id %>" class="btn btn-primary">Sửa</a>
                              <form action="/admin/delete_product" class="d-inline" method="post">
                                    <input type="hidden" name="id" value="<%= product.id %>">
                                    <input type="hidden" name="image" value="<%= product.image %>">
                                    <button type="submit" class="btn btn-secondary">Xóa</button>
                              </form>
                        </td>
                  </tr>
                  <%}) %>
      </tbody>
</table>